body{
    background:#080808;
    color:white;
    font-family:Arial;
    text-align:center;
}

.grande{
    font-size:40px;
    color:#ff0000;
}

.texto{
    font-size:22px;
    margin:20px;
}

.boton{
    display:inline-block;
    padding:15px 30px;
    background:#ff0000;
    color:white;
    font-size:24px;
    text-decoration:none;
    border-radius:10px;
    margin-top:20px;
}

.boton:hover{
    background:#cc0000;
}

.video{
    background:#121212;
    margin:20px;
    padding:20px;
    border-radius:10px;
    font-size:20px;
}

a{
    color:#00ffcc;
}

iframe{
    max-width:100%;
}

textarea{
    width:80%;
    height:80px;
}
