body{
    background:#0d0d0d;
    color:white;
    font-family:Arial;
    text-align:center;
}

h1{
    color:#ff0000;
}

.video{
    background:#1a1a1a;
    margin:15px;
    padding:15px;
    border-radius:10px;
}

a{
    color:#00ffcc;
    text-decoration:none;
}

iframe{
    max-width:100%;
}

textarea{
    width:80%;
    height:80px;
}
