o.<html>
<head>
<title>Zona Oscura</title>
<link rel="stylesheet" href="/static/estilo.css">
</head>

<body>

<div class="portada">

<h1 class="grande">🌑 BIENVENIDO A ZONA OSCURA</h1>

<p class="texto">
Historias, misterios y casos inexplicables
</p>

<script src="https://pl28666554.effectivegatecpm.com/15/a5/db/15a5db91ce2b6c91779184262c13cf54.js"></script>
<div>
<script async src="https://TU_CODIGO_ADSTERRA.js"></script>
</div>

<a class="boton" href="/videos">ENTRAR A LOS MISTERIOS</a>

</div>

</body>
</html>
