<html>
<head>
<title>Zona Oscura - Videos</title>
<link rel="stylesheet" href="/static/estilo.css">
</head>

<body>
<script async="async" data-cfasync="false" src="https://pl28664231.effectivegatecpm.com/b6df3d138e8ffaaff287e907cb7d7723/invoke.js"></script>
<div id="container-b6df3d138e8ffaaff287e907cb7d7723"></div>
<h1 class="grande">📼 VIDEOS DE ZONA OSCURA</h1>

<!-- ANUNCIO SUPERIOR -->
<div>
<script src="https://pl28666709.effectivegatecpm.com/68/c3/3a/68c33ac45f49302c88f2481028489387.js"></script>
</div>

<a class="boton" href="/admin">Subir nuevo caso</a>

<hr>

{% for v in videos %}
<div class="video">
    <h2>{{v[1]}}</h2>
    <p>Categoría: {{v[3]}}</p>

    <!-- ANUNCIO ENTRE VIDEOS -->
    <div>
<script src="https://pl28666709.effectivegatecpm.com/68/c3/3a/68c33ac45f49302c88f2481028489387.js"></script>
    </div>

    <a class="boton" href="/video/{{v[0]}}">VER HISTORIA</a>
</div>
{% endfor %}

<!-- ANUNCIO INFERIOR -->
<div>
<script src="https://pl28666554.effectivegatecpm.com/15/a5/db/15a5db91ce2b6c91779184262c13cf54.js"></script>
</div>

</body>
</html>
