<html>
<head>
<title>{{video[1]}}</title>
<link rel="stylesheet" href="/static/estilo.css">
</head>

<body>

<h1 class="grande">{{video[1]}}</h1>

<script async="async" data-cfasync="false" src="https://pl28664231.effectivegatecpm.com/b6df3d138e8ffaaff287e907cb7d7723/invoke.js"></script>
<div id="container-b6df3d138e8ffaaff287e907cb7d7723"></div>
<div style="margin:20px;">
<script async="async" data-cfasync="false" src="https://pl28664231.effectivegatecpm.com/b6df3d138e8ffaaff287e907cb7d7723/invoke.js"></script>
<div id="container-b6df3d138e8ffaaff287e907cb7d7723"></div>
</div>

<iframe width="700" height="400"
src="{{video[2]}}"
frameborder="0" allowfullscreen>
</iframe>

<script async="async" data-cfasync="false" src="https://pl28664231.effectivegatecpm.com/b6df3d138e8ffaaff287e907cb7d7723/invoke.js"></script>
<div id="container-b6df3d138e8ffaaff287e907cb7d7723"></div>
<div style="margin:20px;">
<script async="async" data-cfasync="false" src="https://pl28664231.effectivegatecpm.com/b6df3d138e8ffaaff287e907cb7d7723/invoke.js"></script>
<div id="container-b6df3d138e8ffaaff287e907cb7d7723"></div>
</div>

<p class="texto">{{video[4]}}</p>

<hr>

<h3>Deja tu comentario</h3>

<form action="/comentar/{{video[0]}}" method="POST">
<textarea name="texto"></textarea><br>
<button class="boton">Enviar</button>
</form>

<br>

<a class="boton" href="/videos">REGRESAR</a>

</body>
</html>
